<div class="grid-x grid-margin-x">
  <div class="cell small-12 medium-3">
    <%= render 'settings/side_menu' %>
  </div>
  <div class="cell small-12 medium-9">
  <div class="setting-container">
  <h1>New Meal Category</h1>

<%= render 'form', meal_category: @meal_category %>

</div></div></div>
