<% @patient_meal_items.each do |patient_meal_item| %>
<div class="meal-item-order-form">
<span><%= patient_meal_item.meal.meal_option.meal_category.title %></span><br />
  <%= patient_meal_item.meal.title %>    
</div>
<% end %>