<li id="patient_meal_item_<%= @patient_meal_item.id %>">
  <div class="meal-item-order-form">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12">
          <span><%= @patient_meal_item.meal.meal_option.meal_category.title %></span>
        </div>
        <div class="cell small-9">
          <%= @patient_meal_item.meal.title %>
        </div>
        <div class="cell small-3">
          <%= link_to patient_remove_patient_meal_path(@patient_meal_item.patient_id,:patient_meal => @patient_meal_item.id), class: "alert button small", :remote => true do %> 
          <i class="fa fa-times"></i>  
          <% end %>
        </div>
      </div>
      

       
  </div>
</li>