<div class="grid-x grid-margin-x">
  <div class="cell small-12 medium-3">
    <%= render 'settings/side_menu' %>
  </div>
  <div class="cell small-12 medium-9">
  <div class="setting-container">
  <h1>Editing Ward</h1>

<%= render 'form', ward: @ward %>

</div></div></div>
